# Ambiente virtuale
venv/
.venv/
.venv312/
env/

# Variabili d'ambiente - MAI su GitHub
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# PyCharm
.idea/

# vscode
.vscode/

# Database locale
*.db
*.sqlite3

