# macOS OS Metadata
.DS_Store
.AppleDouble
.LSOverride

# Windows OS Metadata
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ambienti di sviluppo (Node & Python)
node_modules/
.next/
__pycache__/
*.py[cod]
venv/
.venv/

# Variabili d'ambiente e Segreti (CRITICO)
.env
.env.local
*.pem

